*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3{
    margin: 0;
}

section,header{
    padding: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.container {
    max-width: 800px;
    margin: 0 auto;

}

nav a{
   text-decoration: none;
   border: solid #CCC 1px;
   padding: 5px 25px;
   margin-right: 10px;
   color: black;
   border-radius: 5px;
}

nav a:hover{
    background-color: black;
    color: #FFF;
}



nav a:last-child{
    margin-right: 0;
}

.post{
    margin-top: 70px;
}

.post:first-child{
    margin-top: 0px;
}

p {
    line-height: 1.4rem;
    color: #313131;
    font-weight: 300;
    font-size: 15px;
}
.post-title{
    margin-bottom: 10px;
    font-weight: 600;
}
.post-title a{
    color: inherit;
    text-decoration: none;
}
.post-title a:hover{
    text-decoration: underline;
}
.post-meta{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
}