//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

  
  // Container that the modal scrolls within
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal;
    @include opacity(0);
    @include translate(0, -105%);
    pointer-events: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    // Prevent Chrome on Windows from adding a focus outline. 
    outline: 0;
    .modal--background & {
      pointer-events: auto;
      @include opacity(1);
      @include translate(0, 0);
    }
    .modal--background &.slide--in{
      @include transition-transform(0.4s linear);
    }
  }

  .modal-dialog {
    width: 100%;
    margin: 10px;
  }
  
  // Modal background
  .modal--backend {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-modal-background;
    background-color: $modal-backdrop-bg;
    @include opacity($modal-backdrop-opacity);
  }

  // Actual modal
  .modal-content {
    padding: 1.5rem 3rem;
    background-color: $modal-content-bg;
    background-clip: padding-box;
    border: 1px solid $modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
    border: 1px solid $modal-content-border-color;
    @include border-radius($border-radius-large);
    @include box-shadow(0 3px 9px rgba(0, 0, 0, .5));
    // Remove focus outline from opened modal
    outline: 0;
  }
  
  // Modal header
  .modal-header {
    position: relative;
    @extend .d-flex;
    @extend .align-items-center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $modal-header-border-color;
    @include clearfix;

    //close button  
    .close{
        @extend .fw-600;
        position: absolute;
        right: 0;
        left: auto;
        color: $black;
        padding: 0;
        cursor: pointer;
    }
  }


  .show{
    display: block;
  }
  // Title text within header
  .modal-title {
    @extend .fw-600;
    margin-left: 0;
    margin-right: auto;
    line-height: $modal-title-line-height;
  }

  // Modal bodyi
  .modal-body {
    position: relative;
    padding-top: 3rem;
  }
  
  // Scale up the modal
  @media (min-width: $screen-sm-min) {
    // Automatically set modal's width for larger viewports
    .modal-dialog {
      width: $modal-md;
      margin: 30px auto;
    }
    .modal-content {
      @include box-shadow(0 5px 15px rgba(0, 0, 0, .5));
    }
  
    // Modal sizes
    .modal-sm { width: $modal-sm; }
  }
  
  @media (min-width: $screen-md-min) {
    .modal-lg { width: $modal-lg; }
  }