
.page-wrapper{
  @extend .d-flex;
  width: 100%;
  height: 100%;
  background-color: $white;
  @include transition-transform(0.4s ease);
  .modal--background &::before{
    @extend .modal--backend;
     content: "";
  }

  .modal--background &.blur-on-dialogOpen {
    @include opacity(0.95);
    @include filter(blur(0.1rem));
  }
}
.dashboard-sidebar {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  position: fixed;
  max-width: 3.75rem;
  height: 100%;
  background-color: $primary;
  padding: 0 1rem;
  margin: 0;
}

.dashboard-sidebar .signout{
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  margin-bottom: 2rem;
  margin-top: auto;
}

.dashboard--container--area {
  flex: 1;
  @extend .d-flex;
  @extend .flex-column;
  margin-left: 3rem;
}
.logo-white {
  @extend .signin--logo;
  height: 2.75rem;
  width: 2.75rem;
  background-color: $white;
  margin: 1.6125rem 0;
}
.menu {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
}
.menu-item {
  margin-bottom: 2rem;
}

.avatar{
  height: 2.75rem;
  width: 2.75rem;
  background-color: transparent;
  border-radius: 50%;
}
.searchbar{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
    padding: 1.6125rem 1.1rem;
}

.searchbar--author{
  position: relative;
}

.searchbar--author .search--area, .search--area {
  @include box-sizing(border-box);
  background: $white;
  border: 1px solid rgba(76, 141, 235, 0.186481);
  border-radius: $border-radius-base;
  padding: 0.375rem 0.75rem;
  padding: 0.375rem 0.75rem 0.375rem 2.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $darkgrey;
  width: 20.25rem;
}

.search-button{
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border: none;
  outline: none;
  background:transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.table--container, .dashboard--container{
    margin: 0;
    background-color: $lightpurple;
    flex: 1;
    padding: 0 1.5rem;
    h2, h4{
      @extend .fw-600;
      color: $black;
    }
    h4{
      margin: 0;
      margin-bottom: 0.5rem;
    }
}
.table--container .breadcrumb{
  @extend .d-flex;
  @extend .justify-content-start;
  @extend .align-items-center;
  img{
    margin-right: .5rem;
  }
  span{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .fw-600;
    margin: 0;
    padding: 1rem;
    padding-left: 0;
    color: $primary;

  }
}

.table--container--header, .dashboard--container--header{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
}

.btn-table{
   border-radius: 0.25rem; 
   padding-left: 2rem;
   padding-right: 2rem;
}

.table--head{
    background-color: $lightblue;
    display: block;
    padding: 1.5rem 3.37rem 1.5rem 4rem;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
}
.table--body{
    padding: 0 1.5rem;
    background-color: $white;
}

.table-row{
    border-bottom: 1px solid $lightblue;
    padding: 1.5rem 0;
    padding-right: 2.5rem;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
}

.author--image{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    display: inline-block;
    background-color: $primary;
    margin-right: 0.4rem;
  }
  .author--index{
      margin-right: 1.2rem;
  }
  .row--item{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
  }
  .hide-bottom{
      border-bottom: none;
  }

  .table--container--footer{
    @extend .d-flex;
    @extend .justify-content-end;
    @extend .align-items-center;
    flex: 1;
    background:inherit;
    margin: 1.2rem 0; 
  } 

  .footer--item{
    @include border-radius($border-radius-base);
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    background: $white;
    margin: auto 0.4rem;
    width: 3.8rem;
    height: 3.8rem;
    outline: none;
    &:last-child{
      margin-right: 0;
    }
    p{
      @extend .fw-400;
    }
    &:hover{
      border: 2px solid $blue;
      &:first-child, &:last-child{
        @include border-radius(40%);
      }
    }
  }

  .footer--item.active{
      background: $primary;
      p{
        color: $white;
      }
  }
