.dashboard-sidebar {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  display: block;
  background-color: $primary;
  max-width: 3.75rem;
  height: 100%;
  flex: 1;
}
.dashboard--authors {
  flex: 1;
  @extend .d-flex;
  @extend .flex-column;
}
.logo-white {
  @extend .signin--logo;
  height: 2.75rem;
  width: 2.75rem;
  background-color: $white;
  margin: 1.6125rem 0;
}
.menu {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
}
.menu-item {
  margin-bottom: 2rem;
}
.search--area {
  background: $white;
  border: 1px solid rgba(76, 141, 235, 0.186481);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $darkgrey;
  width: 20.25rem;
}

.avatar{
  height: 2.75rem;
  width: 2.75rem;
  background-color: red;
  border-radius: 50%;
}
.searchbar{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
    padding: 1.6125rem 1.1rem;
}
.table--container{
    background-color: $lightpurple;
    flex: 1;
    padding: 0 1.1rem;
}
.table--container--header{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
}
.btn-table{
   border-radius: 0.25rem; 
   padding-left: 2rem;
   padding-right: 2rem;
}

.table--head{
    background-color: $lightblue;
    display: block;
    padding: 1.5rem 3.37rem 1.5rem 4rem;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
}
.table--body{
    padding: 0 1.5rem;
    background-color: $white;
}

.table-row{
    border-bottom: 1px solid $lightblue;
    padding: 1.5rem 0;
    padding-right: 2.5rem;
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
}

.author--image{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    display: inline-block;
    background-color: $primary;
    margin-right: 0.4rem;
  }
  .author--index{
      margin-right: 1.2rem;
  }
  .row--item{
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
  }
  .hide-bottom{
      border-bottom: none;
  }