.dashboard--content{
    @extend .d-flex;
    @media screen and (max-width: $desktopmq){
        flex-direction: column;
    }
}
.dashboard--content--left{
    margin: 0;
    padding: 0;
    margin-right: 10rem;
    @media screen and (max-width: $desktopmq){
        margin-bottom: 2.5rem;
        margin-right: 3rem;
    }
    @media only screen and (min-width: $desktopmq) and (max-width: $lgdesktopmq){
        margin-right: 2rem;
    }
}
.dashboard--content--left .menu{
    @include center();
    position: relative;
    padding: 0;
    margin: 0;
}
.menu ul{
    @extend .d-flex;;
    flex-direction: column;
    margin: 0;
    margin-right: auto;
}
.menu ul li{
    @extend .d-flex;
    padding: 0;
    margin: 1rem 0;
    a{
        position: relative;
        @extend .d-flex;
        align-items: center;
        color: $secondary;
        padding: 0.5rem;
        padding-left: 0;
        span:first-child{
            @extend .d-flex;
            @extend .justify-content-center;
            @extend .align-items-center;
            position: absolute;
            width: 2rem;
            height: 2rem;
            border-radius: $border-radius-base;
            background: $line;
            margin-top: auto;
            margin-bottom: auto;
            @media screen and (max-width: 600px){
                width: 1.5rem;
                height: 1.5rem;
            }
            img{
                width: 1.5rem;
                height: 1.5rem;
                @media screen and (max-width: $tabletmq){
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
        span:last-child{
            margin-left: 3rem;
            font-size: $fs-5-desktop;
            @media screen and (max-width: $tabletmq){
                font-size: $fs-6-desktop;
                margin-left: 2rem;
            }

        }
    } 
    &.active a>span{
        @extend .fw-600;
    }
    &:first-child{
        margin-top: 0;
    }
    &:last-child{
        margin-bottom: 0;
    }
}

.dashboard--content--right{
    background: $white;
    flex: 1;
}

.dashboard--content--header{
    border-bottom: 1px solid $line;
    padding: 3rem;
    @media screen and (max-width: $desktopmq){
        padding-left: 0;
    }
}
.dashboard--content--body{
    padding: 3rem;
    p{
        @extend .fw-400;
        color: $secondary;
    }
}

.form--row{
    @extend .d-flex;
    max-width: 100%;
    margin-bottom: 2rem;
    @media screen and (max-width: $desktopmq){
        flex-direction: column;
        margin-bottom: 0;
    }
}

.form--item{
    flex: 1;
    &:first-child{
        margin-right: 1rem;
    }
    &:last-child{
        margin-left: 1rem;
    }

    @media only screen and (min-width: $desktopmq){    
       &.current-password{
            margin: 0;
            max-width: 48%;
       }
    }

    @media screen and (max-width: $desktopmq){
        &:first-child, &:last-child{
            margin: 0;
        }
       & .form-control{
            margin-bottom: 1.3rem;
       }
    }

}
.button-group{
    @extend .d-flex;
    @extend .justify-content-end;
    @media screen and (max-width: $desktopmq){
        flex-direction: column;
        & .button-cancel{
            margin-bottom: 1.3rem;
        }
    }
}
.button-cancel input[type="submit"]{
    background: $white;
    color: $secondary;
}
.button-cancel, .button-save{
    @extend .sign-btn;
    & input{
        width: 100%;
        border-radius: $border-radius-small;
    }
    @media screen and (min-width: $desktopmq){
        max-width: 18rem;
        & + .button-save{
            margin-left: 2rem;
        }
    }
}

.website-row{
    @extend .table-row;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    & >span:last-child{
        text-transform: uppercase;
        @extend .fw-600;
    }
}
.website--index{
    @extend .author--index;
}

.token-row{
    position: relative;
    .token--text{
        @extend .form-control;
        @extend .fw-400;
        color: $secondary;
        text-transform: uppercase;
        max-width: 100%;
        background: $lightbluefill;
        border: 1px solid $lightbluefill;
        height: 4.4rem;
        padding-right: 10rem;
        @media screen and (max-width: $desktopmq){
            padding-right: 7.5rem;
        }
        @media screen and (max-width: $tabletmq){
            adding-right: 5.5rem;
        }
    }
    .button-copy{
        @extend .d-flex;
        @extend .justify-content-center;
        @extend .align-items-center;
        @extend .fw-600;
        border-radius: $border-radius-base;
        width: 8rem;
        height: 3rem;
        margin: 0;
        position: absolute;
        right: 1rem;
        left: auto;
        @include translate(0, -120%);

        @media screen and (max-width: $desktopmq){
            width: 6rem;
        }
        @media screen and (max-width: $tabletmq){
            width: 4rem;
        }

    }
}